
<div id="ANS"style="visibility: hidden;"><%=flash_card.answer%></div>
<h1 id="heres">Here's your card!!!</h1>

<div id="real_question" style="visibility: visible">
  <div class="animated slideInLeft">

  <div id="flipper">
<div class="cardBack">
  <div id="cell" class="cardCell">
    <div class="cardContent">
    <%=flash_card.question%>
    <div class="animated slideInRight" id="toggler" style="visibility: none"><h4 id="answer"><%=flash_card.answer%></h4></div>
    <div class="animated slideInLeft" id="rightA" style="visibility: none"><h4 id="right_answer">CORRECT</h4></div>
    <div class="animated slideInLeft" id="wrongA" style="visibility: none"><h4 id="wrong_answer">WRONG</h4></div>

   </div>
 </div>
</div>
</div>
</div>

<h4 style="text-align:center">Correct: <%=correct%>/<%=guesses%></h4>

<div class="answer_form">
<h3>What's your answer?</h3>
<form action='/card/<%=flash_card.id%>?current_deck_id=<%=flash_card.deck_id%>' id="give_answer" method='POST' name='myForm'>
  <input type='hidden' name='card_id' value='<%=flash_card.id%>'>
  <input type='text' id="box" name='answer' placeholder='answer here'>
  <input class='button' type='submit' id='submitButton'>
</form>
</div>


<script language="Javascript">
$(document).ready(function() {
  window.scroll(0, 250);
  $("#rightA").hide();
  $("#wrongA").hide();
  $("#toggler").hide();
  $( "#submitButton" ).click(function(e) {
  e.preventDefault();
  $('#flipper').addClass('animated flip');
  var reason = "";
  var val = document.getElementById("box").value.toLowerCase();
  var ans = document.getElementById("ANS").innerHTML.toLowerCase();
  reason += val;
  if(val == ans) {
    $("#rightA").show();
    $('#toggler').show();
    $("#cell").addClass('green');
  }
  else if(val != ans){
    $("#wrongA").show();
    $('#toggler').show();
    $("#cell").addClass('pink');
  }
  setTimeout(function(){$('#give_answer').unbind('submit').submit()}, 1200);
});
});
</script>

